div {    
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

img {
    border-radius: 14px;
}

li {
    display: flex;
    text-align:initial;
    justify-content: space-between;
    margin: 15px 10% 15px 10%;

    border-radius: 14px;
    padding: 5px;
    color: black;
    background-color: rgb(212, 211, 211);
    list-style: none;
}

.fav {

    color: black;
    background-color: rgb(221, 115, 115);
}